
* {
        margin: 0;
        padding: 0;
        
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

header.hero{
    
    background-image: url('images/villa_7.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    padding:20px;
    }


.logo{
    font-size: 2rem;
    font-weight: bold;
    float: left;
}

.nav_links{
    padding:20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.nav_links li {
    margin-right: 20px;
    
}

.nav_links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    
    }

.nav_links li a:hover {
    color: #ffcc00;
        }

input[type="text"] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            width: 200px;
        
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e6b800;
}

